*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.imgbox img{
  height: 200px;
  width: 200px;
}


.users{
  text-align: center;
  padding: 10px 20px;
  border: 1px solid lightblue;
}
.user-item{
  border: 1px solid lightblue;
  padding: 20px;
  margin: 10px 0;
}

.user-form{
  border: 1px solid lightblue;
  margin-left: 27%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 13px;
  gap: 10px;
}
.user-form input, button{
  padding: 5px;
  width: 400px;
  
}
.user-item button{
  padding: 7px;
  width: 100px;
  margin-top: 5px;
  cursor: pointer;
}